!!! 5
%html{ lang: I18n.locale }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }/

    - if cdn_host?
      %link{ rel: 'dns-prefetch', href: cdn_host }/

    - if storage_host?
      %link{ rel: 'dns-prefetch', href: storage_host }/

    %link{ rel: 'icon', href: favicon_path, type: 'image/x-icon' }/
    %link{ rel: 'apple-touch-icon', sizes: '180x180', href: '/apple-touch-icon.png' }/
    %link{ rel: 'mask-icon', href: '/mask-icon.svg', color: '#2B90D9' }/
    %link{ rel: 'manifest', href: '/manifest.json' }/
    %meta{ name: 'msapplication-config', content: '/browserconfig.xml' }/
    %meta{ name: 'theme-color', content: '#282c37' }/
    %meta{ name: 'apple-mobile-web-app-capable', content: 'yes' }/

    %title= content_for?(:page_title) ? safe_join([yield(:page_title).chomp.html_safe, title], ' - ') : title

    = stylesheet_pack_tag 'common', media: 'all'
    = stylesheet_pack_tag current_theme, media: 'all'
    = javascript_pack_tag 'common', integrity: true, crossorigin: 'anonymous'
    = javascript_pack_tag "locale_#{I18n.locale}", integrity: true, crossorigin: 'anonymous'
    = csrf_meta_tags
    %meta{ name: 'style-nonce', content: request.content_security_policy_nonce }

    = stylesheet_link_tag '/inert.css', skip_pipeline: true, media: 'all', id: 'inert-style'

    - if Setting.custom_css.present?
      = stylesheet_link_tag custom_css_path, media: 'all'
    
    - unless current_emoji_size_simple.nil?
      %style{nonce: request.content_security_policy_nonce}
        :plain
          .status__content .emojione, .reply-indicator__content .emojione {
            width: #{current_emoji_size_simple}px;
            height: #{current_emoji_size_simple}px;
            margin: 0ex .1em 0ex;
          }
    - unless current_emoji_size_detailed.nil?
      %style{nonce: request.content_security_policy_nonce}
        :plain
          .detailed-status .status__content .emojione {
            width: #{current_emoji_size_detailed}px;
            height: #{current_emoji_size_detailed}px;
            margin: 0ex .1em 0ex;
          }
    - unless current_emoji_size_name.nil?
      %style{nonce: request.content_security_policy_nonce}
        :plain
          .emojione {
            width: #{current_emoji_size_name}px;
            height: #{current_emoji_size_name}px;
            margin: 0ex .1em 0ex;
          }

    - unless current_column_size.nil?
      :css
         @media (min-width: 640px) {
          .layout-multiple-columns .column, .layout-multiple-columns #mastodon-timeline {min-width: #{current_column_size}px;}
        }
    
    - unless current_bbcode_spin
      %style{nonce: request.content_security_policy_nonce}
        :plain
          .bbcode__spin {
            display: inline !important;
            -webkit-animation: none !important;
            animation: none !important;
          }
    
    - unless current_bbcode_pulse
      %style{nonce: request.content_security_policy_nonce}
        :plain
          .bbcode__pulse {
            -webkit-animation: none !important;
            animation: none !important;
          }
        
    - unless current_bbcode_large
      %style{nonce: request.content_security_policy_nonce}
        :plain
          .status__content .fa-2x, .status__content .fa-3x, .status__content .fa-4x, .status__content .fa-5x {
            font-size: inherit !important;
          }
        
    - unless current_bbcode_size
      %style{nonce: request.content_security_policy_nonce}
        :plain
          .status__content > div:first-child span:not(.fa-2x):not(.fa-3x):not(.fa-4x):not(.fa-5x):not(.invisible) {
            font-size: inherit !important;
          }
        
    - unless current_bbcode_color
      %style{nonce: request.content_security_policy_nonce}
        :plain
          .status__content > div:first-child span {
            color: inherit !important;
          }
        
    - unless current_bbcode_flip
      %style{nonce: request.content_security_policy_nonce}
        :plain
          .status__content .fa-flip-vertical,
          .status__content .fa-flip-horizontal,
          .status__content .bbcode__flip-vertical, 
          .status__content .bbcode__flip-horizontal {
            display: inline !important;
            -webkit-transform: none !important;
            -ms-fiter: none !important;
            transform: none !important;
          }
        
    - unless current_bbcode_b
      %style{nonce: request.content_security_policy_nonce}
        :plain
          .bbcode__b {
            font-weight: inherit !important;
          }
        
    - unless current_bbcode_i
      %style{nonce: request.content_security_policy_nonce}
        :plain
          .bbcode__i {
            font-style: inherit !important;
            -webkit-font-feature-settings: inherit !important;
            font-feature-settings: inherit !important;
          }
        
    - unless current_bbcode_u
      %style{nonce: request.content_security_policy_nonce}
        :plain
          .status__content u {
            text-decoration: none !important;
          }
        
    - unless current_bbcode_s
      %style{nonce: request.content_security_policy_nonce}
        :plain
          .status__content > div:first-child span {
            text-decoration: none !important;
          }

    = yield :header_tags

  %body{ class: body_classes }
    = content_for?(:content) ? yield(:content) : yield

    .logo-resources
      = render file: Rails.root.join('app', 'javascript', 'images', 'logo_transparent.svg')
      = render file: Rails.root.join('app', 'javascript', 'images', 'logo_full.svg')
